In [1]:
import pandas as pd

print(pd.__name__)

pandas

In [1]:
import pandas as pd
countries_data = pd.read_csv('data/countries.csv', sep=';')
display(countries_data)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [ ]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')
display(data)

In [2]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')

melb_data['Type'].value_counts(normalize=True)

Type
h    0.695803
u    0.222165
t    0.082032
Name: proportion, dtype: float64

In [4]:
import pandas as pd
melb_data[melb_data['Bathroom']==0].shape[0]

34

In [12]:
import pandas as pd
melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].count(1)

2553     23
2579     23
6734     23
7695     23
11023    23
dtype: int64

In [13]:
import pandas as pd
melb_data[melb_data['BuildingArea'] == 0]['Price'] .min(0)

412500.0

In [28]:
import pandas as pd
melb_data[(melb_data['Price'] <3000000) & (melb_data['Type'] =='h')]['Regionname'].value_counts(normalize=True)

Regionname
Northern Metropolitan         0.296855
Southern Metropolitan         0.273319
Western Metropolitan          0.247939
Eastern Metropolitan          0.126573
South-Eastern Metropolitan    0.041974
Eastern Victoria              0.005423
Northern Victoria             0.004447
Western Victoria              0.003471
Name: proportion, dtype: float64

In [ ]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv', sep=',')

In [10]:
import pandas as pd
melb_data['Distance'].std()

5.868724943071711

In [11]:
import pandas as pd
landsize_median = melb_data['Landsize'].median() 
landsize_mean =  melb_data['Landsize'].mean()
print(abs(landsize_median - landsize_mean)/landsize_mean)

0.21205713983546193

In [16]:
med = melb_data['BuildingArea'].median() 
mean = melb_data['BuildingArea'].mean()
display((med/mean)*100)

90.23592033763546

In [18]:
import pandas as pd
mode_of_number =pd.DataFrame({'stolb':[1, 2, 4, 2, 3, 2, 1, 5, 6]})
mode_of_number['stolb'].mode()

0    2
Name: stolb, dtype: int64

In [20]:
melb_data['Bedroom'].mode()

0    3
Name: Bedroom, dtype: int64

In [7]:
student_data = pd.read_csv('data/students_performance.csv')
display(student_data)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [15]:
import pandas as pd
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [16]:
student_data['math score'].mean()

66.089

In [17]:
student_data['race/ethnicity'].describe()

count        1000
unique          5
top       group C
freq          319
Name: race/ethnicity, dtype: object

In [18]:
import pandas as pd

student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()

58.92112676056338

In [19]:
student_data['parental level of education'].value_counts(normalize=True)

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64

In [26]:
import pandas as pd
raise_median = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median() 
t_mean =  student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
display(t_mean)
display(raise_median)
display(abs(raise_median-t_mean))

67.82758620689656

62.0

5.827586206896555